:root {
    --black: #000000;
    --white: #ffffff;
    --gray: #dfdfdf;
    --gray-light: #f1f1f1;
    --gray-light-1: #f2f2f2;

    --title-font: 'Poppins', tahoma, sans-serif;
    --text-font: 'Poppins', tahoma, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    width: 100%;
    height: 100%;
}

body,
button,
input,
textarea,
select {
    font: 15px/1.5 var(--text-font);
    color: #222;
}

a,
button,
label,
input,
summary {
    transition: all .3s ease-out;
    text-decoration: none;
    cursor: pointer;
}

input:autofill,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-font);
}

ul {
    margin: 0;
}

[hidden] {
    display: none;
}

abbr {
    color: var(--bs-danger);
}

/** Fonts **/
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' 0,
        'opsz' 24
}

/** Content page **/
.full-page {
    display: flex;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

.full-page .content-wrapper {
    width: 100%;
    background: var(--gray-light-1) url(../images/bg.jpg) no-repeat center top / cover;
    background-attachment: fixed;
}

.full-page .content-wrapper header h2 {
    margin-bottom: 3px;
}

/** Navbar **/
.full-page nav {
    padding: 20px 25px;
}

.full-page nav .menu a {
    width: 40px;
    justify-content: center;
}

.full-page nav .menu a:hover {
    background: #6c757d !important;
    color: var(--white) !important; 
}

.full-page nav .search {
    width: 300px;
}

.full-page nav .search input {
    font-size: 14px;
}

.full-page nav .result {
    max-width: 400px;
    width: 100%;
    transition: all .3s ease;
}

.full-page nav .result {
    font-size: 14px;
}

.full-page nav .result .close {
    background: #6c757d;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.full-page nav .result .close small {
    font-size: 16px;
}

.full-page nav .resultList a:hover {
    color: #0d6efd !important;
}

.full-page nav .perfil-img {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .full-page nav {
        padding: 20px 15px;
    }
}


/** Sidebar **/
.full-page aside {  
    z-index: 999;
}

.full-page aside .img-desktop,
.full-page aside .img-mobile {
    display: none;
}

.full-page aside .collapse a:hover {
    color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)) !important;
}

.full-page aside.desktop,
.full-page aside.desktop > div {
    max-width: 280px;
    width: 100%;
}
.full-page aside.desktop + .content-wrapper {
    max-width: calc(100% - 280px);
}

.full-page aside.desktop .img-desktop {
    display: block;
}

.full-page aside.mobile, 
.full-page aside.mobile > div  {
    max-width: 80px;
    width: 100%;
    transition: all .4s ease-in-out;
}
.full-page aside.mobile + .content-wrapper {
    max-width: calc(100% - 80px);
}

.full-page aside.mobile:hover,
.full-page aside.mobile:hover > div {
    max-width: 280px;
    width: 100%;
}

.full-page aside.mobile .img-mobile {
    display: block;
}

.full-page aside.mobile:hover .img-mobile {
    display: none;
}

.full-page aside.mobile:hover .img-desktop {
    display: block;
}

.full-page aside.mobile .module-name {
    display: none;
}

.full-page aside.mobile:hover .module-name {
    display: block;
}

.full-page aside.mobile .name {
    display: none !important;
}

.full-page aside.mobile:hover .name {
    display: flex !important;
}

.full-page aside.mobile .btn-toggle-nav {
    display: none;
}

.full-page aside.mobile:hover .btn-toggle-nav {
    display: block;
}

.full-page aside.mobile ul .nav-item a:after {
    display: none;
}

.full-page aside.mobile:hover ul .nav-item a:after {
    display: block;
}

.full-page aside .perfil-img {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-page aside ul .nav-item a {
    position: relative;
}

.full-page aside ul .nav-item a[aria-expanded="false"]:after {
    content: '';
    /*background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e") no-repeat center / contain;*/
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E") no-repeat center / contain;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    margin: auto;
}

.full-page aside ul .nav-item a[aria-expanded="true"]:after {
    content: '';
    /*background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e") no-repeat center / contain;*/
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E") no-repeat center / contain;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    margin: auto;
    transform: rotate(180deg);
}

/** Main **/
main:not(.login main, .verify main) {
    padding: 5px 15px 10px;
    min-height: calc(100vh - 82px);
    display: flex;
    flex-direction: column;
}
@media (max-width: 768px) {
    main:not(.login main, .verify main) {
        padding: 5px 5px 10px;
        min-height: calc(100vh - 82px);
        display: flex;
        flex-direction: column;
    }
}

/** Footer **/
footer {
    margin-top: auto;
    padding-top: 20px;
    text-align: end;
}

/** Breandcrumbs **/
.breadcrumb i {
    padding: 0 5px;
    font-size: 10px;
    display: flex;
    align-items: center;
}

.breadcrumb {
    margin-bottom: 0;
}

/** Tables **/
.active>.page-link,
.page-link.active {
    background: #6c757d;
    border: none;
    color: var(--white) !important;
}

.active>.page-link,
.page-link {
    color: rgb(33, 37, 41)
}

.loading-text {
    font-size: 1.1rem !important;
}

/** Barra de rolagem **/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--gray-light);
}

::-webkit-scrollbar-thumb {
    background-color: var(--bs-gray-500);
    border-radius: 20px;
    border: 3px solid var(--gray-light);
}

/** Input divider  **/
.divider-input {
    position: relative;
}

.divider-input p {
    position: absolute;
    top: 2px;
    margin: 0;
    padding: 0;
    background: var(--gray-light-1);
    padding: 0px 12px;
    z-index: 99;
    font-weight: 500;
}

/** Bootstrap Table **/
.bootstrap-table .fixed-table-toolbar .bs-bars,
.bootstrap-table .fixed-table-toolbar .columns,
.bootstrap-table .fixed-table-toolbar .search {
    margin-top: 0;
}

/** Modals **/
#modalExit .modal-footer .confirm, 
#modalDestroy .modal-footer .confirm {
    border-right: 1px solid var(--bs-border-color);
}

@media (max-width: 768px) {
    #modalExit .modal-footer .confirm,
    #modalDestroy .modal-footer .confirm {
        border-right: 0;
        border-bottom: 1px solid var(--bs-border-color);
    }
}
