/** NavBar **/
.tab-content>.tab-pane {
    background: #fff;
    padding: 30px 20px;
    border-radius: var(--bs-border-radius);
    border-top-left-radius: initial;
    border-top-right-radius: initial;
    border: 1px solid #dee2e6;
    border-top: 0;
}
.tab-content>.tab-pane .intro p {
    font-size: 14px;
}


/** Group partners **/
.partners .all-partners .single-partner {
    margin: auto;
    margin-bottom: 20px;
}


/** Group emails **/
.emails .all-emails:has(.single-email) {
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.emails .all-emails .single-email .content-email {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.emails .all-emails .single-email .content-email a:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
}


/** Group sheets **/
.sheets .all-sheets .single-sheet {
    margin: auto;
    margin-bottom: 20px;
}
.sheets .all-sheets .single-sheet .content-sheet input[type="file"] {
    padding: 35px 1.5rem;
}
.sheets .all-sheets .single-sheet .content-sheet .file-exists {
    position: absolute;
    bottom: 14px;
    left: 180px;
    min-width: 250px;
    width: calc(100% - 184px);
    background: #fff;
}


/** Group integration **/
.integrations .all-integration .single-integration {
    margin: auto;
    margin-bottom: 20px;
}
.integrations .all-integration .single-integration .content-integration {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 15px;
}


