/** Documento da página de Home **/
section {
    min-height: calc(100vh - 160px);
    display: flex;
    align-items: center;
}

section .bi-question-circle {
    font-size: 80px;
}

section #accordionItems {
    background-color: #ffffff96;
    padding: 20px;
    border-radius: 16px;
}

section #accordionItems .accordion-item, 
section #accordionItems .accordion-button { 
    background: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
}