.list-group {
    max-height: 350px;
    overflow: auto;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.date > div {
    width: calc(50% - 4px);
}

.tab-content:has(> #leads-tab-pane.active) {
    border-top-left-radius: 0 !important;
}

@media (max-width: 768px) {
    .date > div {
        width: 100%;
    }
}