/** Documento da página de Unauthorized **/
section {
    min-height: calc(100vh - 160px);
    display: flex;
    align-items: center;
}

section h3 {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

section .img-unauthorized {
    background: url(../images/unauthorized.png) no-repeat center / contain;
    max-width: 516px;
    width: 100%;
    height: 334px;
    margin: auto;
}